body{
    background-image: url("img/day.webp");
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(59, 66, 82);
    user-select: none;
    overflow: hidden;
}
.center{
    margin: 0;
    background: rgb(229, 233, 240, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    width: 400px;
    height: 450px;
    text-align: center;
}
footer{
    text-align: center;
}
.center a{
  color: var(--nord-10);
}
  
.error {
  color: var(--nord-11);
  font-size: 15px;
  margin-top: 5px;
}

  .form__input {
    font-size: 1rem;
    margin: 0 auto;
    padding: 1.0rem 1.2rem;
    border-radius: 0.2rem;
    background-color: var(--nord-6);
    border: none;
    width: 85%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
  }
  
  .button {
    background-color: var(--nord-14);
    border: none;
    border-radius: 3px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-top: 10px;
    cursor: pointer;
    transition: 1s;
  }
  .button:hover{
    background-color: var(--nord-13);
  }


  /* LADOWANIE */
  .spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
  }