* {
    margin:0;
    padding:0;
}

body {
    background-color: #D8DEE9;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
}

#container {
    width: 40vh;
    height: 52vh;
    margin-top: 24vh;
    margin-left: 10%;
    background-color: #E5E9F0;
    -webkit-box-shadow: 10px 10px 35px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 10px 10px 35px 0px rgba(0,0,0,0.35);
    box-shadow: 10px 10px 35px 0px rgba(0,0,0,0.35);
}

#loginData {
    top: 50%;
}

#loginData input {

}

#footer {
    font-size: 14.5px;
    transform: translateY(450px);
}

#footer a {
    color: #2E3440;
    text-decoration: none;
}